*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Qundeasy';
    font-weight: 900;
    src: url("../assets/fonts/Qundeasy-Only-For-Personal-Use.ttf");
}



body{
    background-image: url("../assets/background.png");
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.panel{
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 0.1em solid #fefefe;
    background-color: #23263b;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.whole{
    margin: 0;
    padding: 0;
;
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.panelURL{
    color: #fefefe;
    text-decoration: none;
    font-family: 'Qundeasy';
    font-size: 3.3em;
    margin-left: 0.7em;
}

.textbox{
    padding: 1em;
    height: auto;
    width: 80%;
    opacity: 70%;
    background-color: rgb(29, 31, 31);
    justify-content: center;
    align-items: center;
    font-family: 'Qundeasy';
    border-radius: 0.5em;
    color: #fefefe;
    padding-left: 2em;
    margin-top: 4em;
}

.bottom{
    margin-top: 10em;
    height: 20em;
    background-color: rgb(29, 31, 31);
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 5em;
    padding: 0;
    margin: 0;
}
p{
    font-size: 2.4em;
    margin-top: 0.1em;
}

.lnk{
    color: #6dd2fd;
    text-decoration: none;
    font-family: 'Qundeasy';
    font-size: 3em;
}
.lnk:hover{
    color: #ade6ff;
}
ul{
    display: flex;
    flex-direction: column;
    line-height: 4em;
}