*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Qundeasy';
    font-weight: 900;
    src: url("../assets/fonts/Qundeasy-Only-For-Personal-Use.ttf");
}



body{
    background-image: url("../assets/background.png");
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.bot{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel{
    display: flex;
    height: 20%;
    width: 100%;
    border-bottom: 0.1em solid #fefefe;
    background-color: #919191;
    align-items: center;
    position: fixed;
}

.panelURL{
    color: #fefefe;
    text-decoration: none;
    font-family: 'Qundeasy';
    font-size: 2.5em;
    margin-left: 1.4em;
}

.textbox{
    padding: 1em;
    height: auto;
    width: 80%;
    opacity: 70%;
    background-color: rgb(29, 31, 31);
    justify-content: center;
    align-items: center;
    font-family: 'Qundeasy';
    font-size: 2em;
    color: #fefefe;
    border-radius: 0.5em;
}